@use "sass:math";
@import "src/assets/style/Style.module";

.container {
}

.content {
  display: flex;
  align-items: center;
  min-height: 90vh;
  @media (max-width: em(1000)) {
    flex-direction: column-reverse;
  }
}

//====================================================================================================

.images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &Img {
    img {
      max-width: rem(1100);
      min-height: 90vh;
      width: 100%;
      @media (max-width: em(1000)) {
        min-height: 50%;
      }
    }
  }

  &Logo {
    position: absolute;
    z-index: 2;
    fill: #fff;
    @include adaptiveValue("width", 356, 128);
    @include adaptiveValue("height", 356, 128);
  }
}

//====================================================================================================

.main {
  @include adaptiveValue("padding", 36, 20);
  @include adaptiveValue("margin-left", 150, 40);
  @media (max-width: em(1000)) {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 0;
  }

    &Logo {
    fill: $titleThemeLightColor;
    @include adaptiveValue("width", 50, 30);
    @include adaptiveValue("height", 50, 30);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }

    @media (prefers-color-scheme: dark) {
      fill: $titleThemeDarkColor;
    }
  }

  &Title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 28);
    }
  }

  &SubTitle {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 18);
    }
  }

  &Buttons {

  }

  &ButtonSignIn {
    transition: all 0.3s ease 0s;
    @include adaptiveValue("padding-top", 10, 10);
    @include adaptiveValue("padding-bottom", 10, 10);
    @include adaptiveValue("width", 300, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bodyThemeLightColor;
    border: rem(1) solid $darkThemeLightColor;
    border-radius: rem(40);
    color: $blueColor;
    font-weight: 800;
    @include adaptiveValue("font-size", 16, 13);
    @media (prefers-color-scheme: dark) {
      background-color: $bodyThemeDarkColor;
    }
    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
    @media (max-width: em(1000)) {
      width: 100%;
    }
  }

  &Or {
    @include adaptiveValue("width", 300, 200);
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("font-size", 22, 18);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 5);
    }

    &::after {
      content: "";
      opacity: 0.5;
      position: absolute;
      background-color: $darkThemeLightColor;
      @media (prefers-color-scheme: dark) {
        background-color: $darkThemeDarkColor;
      }
      height: rem(1);
      width: 45%;
      right: 0;
    }

    &::before {
      content: "";
      opacity: 0.5;
      position: absolute;
      background-color: $darkThemeLightColor;
      @media (prefers-color-scheme: dark) {
        background-color: $darkThemeDarkColor;
      }
      height: rem(1);
      width: 45%;
      left: 0;
    }
    @media (max-width: em(1000)) {
      width: 100%;
    }
  }

  &Button {
    transition: all 0.3s ease 0s;
    @include adaptiveValue("padding-top", 10, 10);
    @include adaptiveValue("padding-bottom", 10, 10);
    @include adaptiveValue("width", 300, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("gap", 8, 4);
    background-color: #fff;
    border: rem(1) solid $darkThemeLightColor;
    border-radius: rem(40);
    @include adaptiveValue("font-size", 15, 12);

    span {
      font-weight: 800;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #d7d7d7;
      }
    }

    @media (prefers-color-scheme: dark) {
      border: none;
    }
    @media (max-width: em(1000)) {
      width: 100%;
    }
  }

  &ButtonOr {
    background-color: $blueColor;
    color: #fff;
    border-radius: rem(40);
    @include adaptiveValue("font-size", 15, 12);
    transition: all 0.3s ease 0s;
    @include adaptiveValue("padding-top", 10, 10);
    @include adaptiveValue("padding-bottom", 10, 10);
    @include adaptiveValue("width", 300, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("gap", 8, 4);
    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(0, 103, 173);
        opacity: 0.9;
      }
    }
    @media (max-width: em(1000)) {
      width: 100%;
    }
  }

  &Google {
    width: rem(20);
    height: rem(20);
  }

  &Apple {
    width: rem(14);
    height: rem(16);
  }

  p {
    @include adaptiveValue("padding-top", 8, 5);
    @include adaptiveValue("font-size", 14, 12);
    line-height: math.div(20, 14);
    color: $darkThemeLightColor;
    @media (prefers-color-scheme: dark) {
      color: $darkThemeDarkColor;
    }

    span {
      color: $blueColor;
      opacity: 1;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }
}

.footer {
  @include adaptiveValue("margin-top", 30, 10);
  padding: rem(10);
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: rem(16);
  color: $darkThemeLightColor;
  @media (prefers-color-scheme: dark) {
    color: $darkThemeDarkColor;
  }
}