//LightTheme====================================================================================================

$bodyThemeLightColor: rgb(255, 255, 255);
$titleThemeLightColor: rgb(15, 20, 25);
$darkThemeLightColor: rgb(83, 100, 113);

//DarkTheme====================================================================================================

$bodyThemeDarkColor: #000;
$titleThemeDarkColor: rgb(214, 217, 219);
$darkThemeDarkColor: #71767A;

//Other====================================================================================================

$blueColor: rgb(29, 155, 240);
$greenColor: #00BA7C;
$pinkColor: #F91980;